[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/habnabit/oh-my-zsh.git
[submodule "nxhtml"]
	path = emacs.d/nxhtml
	url = git://github.com/habnabit/nxhtml.git
[submodule "twittering-mode"]
	path = emacs.d/twittering-mode
	url = git://github.com/hayamiz/twittering-mode.git
[submodule "emacs.d/magit"]
	path = emacs.d/magit
	url = git://github.com/magit/magit.git
[submodule "emacs.d/flymake"]
	path = emacs.d/flymake
	url = git://github.com/illusori/emacs-flymake.git
